.gradient-2,
.site-footer,
.top-bar {
  background: #7a5e86;
  background: -moz-linear-gradient(left, #7a5e86 0%, #a75e67 51%, #f77b2e 100%);
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #7a5e86),
    color-stop(51%, #a75e67),
    color-stop(100%, #f77b2e)
  );
  background: -webkit-linear-gradient(left, #7a5e86 0%, #a75e67 51%, #f77b2e 100%);
  background: -o-linear-gradient(left, #7a5e86 0%, #a75e67 51%, #f77b2e 100%);
  background: -ms-linear-gradient(left, #7a5e86 0%, #a75e67 51%, #f77b2e 100%);
  background: -webkit-gradient(linear, left top, right top, from(#7a5e86), color-stop(51%, #a75e67), to(#f77b2e));
  background: linear-gradient(to right, #7a5e86 0%, #a75e67 51%, #f77b2e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a5e86', endColorstr='#f77b2e', GradientType=1 );
}

.primary-black--hover {
  background: #ff8b00;
  color: #fff;
}
.primary-black--hover:hover {
  background: #000;
  color: #fff;
}

.primary-dark--hover {
  background: #ff8b00;
  color: #fff;
}
.primary-dark--hover:hover {
  background: gray;
  color: #fff;
}

.primary-primary-outline--hover {
  background: #ff8b00;
  color: #fff;
}
.primary-primary-outline--hover:hover {
  border-color: #ff8b00;
  background: transparent;
}

.primary-outline-primary--hover {
  background: transparent;
  border-color: #ff8b00;
}
.primary-outline-primary--hover:hover {
  color: #fff;
  background: #ff8b00;
}

body {
  line-height: 1.7;
  font-weight: 400;
  font-size: 1rem;
}
body:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 399;
}
body.offcanvas-menu {
  position: relative;
}
body.offcanvas-menu:before {
  opacity: 1;
  visibility: visible;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.border-2 {
  border-width: 2px;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background: #000 !important;
}

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5);
}

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5);
}

.btn.btn-outline-white {
  border-color: #fff;
  background: transparent;
  color: #fff;
}
.btn.btn-outline-white:hover {
  background: #fff;
  border-color: #fff;
  color: #000;
}

.line-height-1 {
  line-height: 1 !important;
}

.bg-black {
  background: #000;
}

.form-control {
  height: 55px;
  background: #fff !important;
  font-family:
    "Rubik",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}
.form-control:active,
.form-control:focus {
  border-color: #ff8b00;
}
.form-control:hover,
.form-control:active,
.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.site-section {
  padding: 2.5em 0;
}
@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}
.site-section.site-section-sm {
  padding: 4em 0;
}

.site-footer {
  padding: 3em 0;
}
@media (min-width: 768px) {
  .site-footer {
    padding: 3em 0 1em 0;
  }
}
.site-footer .border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.site-footer p {
  color: #fff;
}
.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5 {
  color: #fff;
  font-weight: bold;
}
.site-footer a {
  color: rgba(255, 255, 255, 0.5);
}
// .site-footer a:hover {
//   color: white;
// }

.site-footer .footer-heading {
  font-size: 16px;
  color: #fff;
}

.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow:
    20px 0 0 #000,
    -20px 0 0 #000;
  box-shadow:
    20px 0 0 #000,
    -20px 0 0 #000;
}

.text-white-opacity-05 {
  color: rgba(255, 255, 255, 0.5);
}

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5);
}

.hover-bg-enlarge {
  overflow: hidden;
  position: relative;
}
@media (max-width: 991.98px) {
  .hover-bg-enlarge {
    height: auto !important;
  }
}
.hover-bg-enlarge > div {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.8s all ease-in-out;
  -o-transition: 0.8s all ease-in-out;
  transition: 0.8s all ease-in-out;
}
.hover-bg-enlarge:hover > div,
.hover-bg-enlarge:focus > div,
.hover-bg-enlarge:active > div {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
@media (max-width: 991.98px) {
  .hover-bg-enlarge .bg-image-md-height {
    height: 300px !important;
  }
}

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-image.overlay {
  position: relative;
}
.bg-image.overlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.bg-image > .container {
  position: relative;
  z-index: 1;
}

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%;
  }
}

@media (max-width: 991.98px) {
  .display-1,
  .display-3 {
    font-size: 3rem;
  }
}

.play-single-big {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff !important;
  border-radius: 50%;
  position: relative;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.play-single-big > span {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  transform: translate(-40%, -50%);
}
.play-single-big:hover {
  width: 120px;
  height: 120px;
}

.overlap-to-top {
  margin-top: -150px;
}

.ul-check {
  margin-bottom: 50px;
}
.ul-check li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  line-height: 1.5;
}
.ul-check li:before {
  left: 0;
  font-size: 20px;
  top: -0.3rem;
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
}
.ul-check.white li:before {
  color: #fff;
}
.ul-check.success li:before {
  color: #71bc42;
}
.ul-check.primary li:before {
  color: #ff8b00;
}

.select-wrap,
.wrap-icon {
  position: relative;
}
.select-wrap .icon,
.wrap-icon .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 22px;
}
.select-wrap select,
.wrap-icon select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

.top-bar {
  border-bottom: 1px solid #e9ecef !important;
}

/* Navbar */
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  width: 100%;
  padding: 1rem;
}
@media (max-width: 991.98px) {
  .site-navbar {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.site-navbar .toggle-button {
  position: absolute;
  right: 0px;
}
.site-navbar .site-logo {
  position: absolute;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}
@media (max-width: 991.98px) {
  .site-navbar .site-logo {
    float: left;
    position: relative;
  }
}
.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid white !important;
}
.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu .active {
  color: #ff8b00 !important;
}
.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li > a {
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 0px;
  color: #000 !important;
  display: inline-block;
  text-decoration: none !important;
}
.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #ff8b00;
}
.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}
.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}
.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
}
.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #ff8b00;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  display: none;
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #000 !important;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
  color: #ff8b00 !important;
  background: #f8f9fa;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  background: #f8f9fa;
  color: #ced4da;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: "\e315";
  right: 20px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
  background: #f8f9fa;
  color: #ced4da;
}
.site-navbar .site-navigation .site-menu .has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #ff8b00;
}
.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}
.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #ced4da;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}
.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}
.site-mobile-menu .site-nav-wrap a:hover {
  color: #ff8b00;
}
.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}
.site-mobile-menu .site-nav-wrap li .nav-link.active {
  color: #ff8b00;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}
.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important;
}

.sticky-wrapper {
  position: relative;
  z-index: 100;
  width: 100%;
}
.sticky-wrapper .site-navbar {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sticky-wrapper .site-navbar {
  background: #fff;
}
.sticky-wrapper .site-navbar .site-logo a {
  color: #fff;
}
.sticky-wrapper .site-navbar ul li a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.sticky-wrapper .site-navbar ul li a.active {
  color: #fff !important;
}
.sticky-wrapper.is-sticky .site-navbar {
  background: #fff;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}
.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #ff8b00;
}
.sticky-wrapper.is-sticky .site-navbar ul li a {
  color: #000 !important;
}
.sticky-wrapper.is-sticky .site-navbar ul li a.active {
  color: #ff8b00 !important;
}
.sticky-wrapper .shrink {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
@media (max-width: 991.98px) {
  .sticky-wrapper .shrink {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}

/* Blocks */
.site-section-cover {
  position: relative;
}
.site-section-cover,
.site-section-cover .container {
  position: relative;
  z-index: 2;
}
.site-section-cover,
.site-section-cover .container > .row {
  height: calc(100vh - 196px);
  min-height: 577px;
}
@media (max-width: 991.98px) {
  .site-section-cover,
  .site-section-cover .container > .row {
    height: calc(70vh - 196px);
    min-height: 400px;
  }
}
.site-section-cover.overlay {
  position: relative;
}
.site-section-cover.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.site-section-cover.inner-page,
.site-section-cover.inner-page .container > .row {
  height: auto;
  min-height: auto;
  padding: 2em 0;
}
.site-section-cover.img-bg-section {
  background-size: cover;
  background-repeat: no-repeat;
}
.site-section-cover h1 {
  font-size: 4.5rem;
  color: #fff;
  line-height: 1;
}
@media (max-width: 991.98px) {
  .site-section-cover h1 {
    font-size: 2rem;
  }
}
.site-section-cover p {
  font-size: 18px;
  color: #fff;
}

.site-section {
  padding: 7rem 0;
}
@media (max-width: 991.98px) {
  .site-section {
    padding: 3rem 0;
  }
}

.gradient-bg-1,
.block-feature-1 .icon {
  background: #51eaea;
  background: -moz-linear-gradient(top, #51eaea 0%, #499bea 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #51eaea), color-stop(100%, #499bea));
  background: -webkit-linear-gradient(top, #51eaea 0%, #499bea 100%);
  background: -o-linear-gradient(top, #51eaea 0%, #499bea 100%);
  background: -ms-linear-gradient(top, #51eaea 0%, #499bea 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#51eaea), to(#499bea));
  background: linear-gradient(to bottom, #51eaea 0%, #499bea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51eaea', endColorstr='#499bea', GradientType=0 );
}

.block-heading-1 span {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.block-heading-1 h2 {
  font-size: 3rem;
  color: #ff8b00;
}

.block-feature-1-wrap {
  margin-bottom: 7rem;
}
.block-feature-1-wrap > .container > .row {
  margin-left: -18px;
  margin-right: -18px;
}
.block-feature-1-wrap > .container > .row > .col,
.block-feature-1-wrap > .container > .row > [class*="col-"] {
  padding-right: 36px;
  padding-left: 36px;
}

.block-feature-1 {
  background: #f2f2f2;
  padding: 30px 30px 30px 50px;
  position: relative;
}
.block-feature-1 h2 {
  font-size: 18px;
}
.block-feature-1 .icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: -40px;
  top: 50%;
  border: 4px solid #fff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.block-feature-1 .icon > span {
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.block-img-video-1-wrap .block-img-video-1 {
  position: relative;
}

.block-img-video-1 > a {
  display: block;
  position: relative;
  cursor: pointer;
}
.block-img-video-1 > a .icon {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
}
.block-img-video-1 > a .icon > span {
  position: absolute;
  top: 50%;
  font-size: 0.8rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #000;
}

.block-counter-1 {
  text-align: center;
}
.block-counter-1 .number,
.block-counter-1 .caption {
  display: block;
  line-height: 1;
}
.block-counter-1 .number {
  color: #fff;
  font-size: 4rem;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .block-counter-1 .number {
    font-size: 2rem;
  }
}
.block-counter-1 .number:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.3);
}
.block-counter-1 .caption {
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.05em;
}

.block-team-member-1 {
  padding: 30px;
  border: 1px solid #e9ecef;
  background: #fff;
  position: relative;
  top: 0;
  -webkit-transition: 0.15s all ease-in-out;
  -o-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}
.block-team-member-1 figure img {
  width: 130px;
}
.block-team-member-1:hover {
  top: -4px;
  border: 1px solid #ced4da;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
}

.block-social-1 > a {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
}
.block-social-1 > a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.block-testimony-1 {
  padding: 20px;
}
.block-testimony-1 blockquote {
  background: #fff;
  padding: 30px;
  font-style: italic;
  font-size: 18px;
  color: #000;
  font-family: "Georgia", Times, serif;
}
.block-testimony-1 figure {
  position: relative;
  padding-top: 20px;
}
.block-testimony-1 figure:before {
  position: absolute;
  content: "";
  width: 50px;
  left: 50%;
  display: none;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #ff8b00;
  height: 2px;
}
.block-testimony-1 figure img {
  max-width: 60px;
}
.block-testimony-1 h3 {
  font-size: 18px;
}

.block-13 .owl-nav {
  display: none;
}

.block-13 .owl-dots {
  text-align: center;
  position: relative;
  bottom: -30px;
}
.block-13 .owl-dots .owl-dot {
  display: inline-block;
}
.block-13 .owl-dots .owl-dot span {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background: #cccccc;
  -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  margin: 3px;
}
.block-13 .owl-dots .owl-dot.active span {
  width: 20px;
  background: #ff8b00;
}

.post-entry {
  background: #fff;
  padding: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.post-entry:hover {
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
}
.post-entry h2 {
  font-size: 20px;
}
.post-entry *:last-child {
  margin-bottom: 0;
}

.by {
  color: #000;
  border-bottom: 1px dotted #ccc;
}
.by:hover {
  border-bottom: 1px dotted #ff8b00;
}

.form-control {
  border: none;
  border: 1px solid #e6e6e6;
}
.form-control:hover,
.form-control:active,
.form-control:focus {
  border: 1px solid #666666;
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}
.sidebar-box *:last-child {
  margin-bottom: 0;
}
.sidebar-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.categories li,
.sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
  list-style: none;
}
.categories li:last-child,
.sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
.categories li a,
.sidelink li a {
  display: block;
}
.categories li a span,
.sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}
.categories li.active a,
.sidelink li.active a {
  color: #000;
  font-style: italic;
}

.search-form {
  background: #f7f7f7;
  padding: 10px;
}
.search-form .form-group {
  position: relative;
}
.search-form .form-group input {
  padding-right: 50px;
}
.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.post-meta {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.post-meta a {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.slide {
  height: 100vh;
  min-height: 900px;
  background-size: cover;
}

.btn-md {
  padding: 8px 20px;
}

.border-w-2 {
  border-width: 2px !important;
}

.block__73694 .block__73422 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 991.98px) {
  .block__73694 .block__73422 {
    height: 400px;
  }
}

@media (max-width: 991.98px) {
  .slide-one-item .owl-nav {
    display: none;
  }
}

.slide-one-item .owl-nav .owl-prev,
.slide-one-item .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.4);
}
.slide-one-item .owl-nav .owl-prev:hover,
.slide-one-item .owl-nav .owl-next:hover {
  color: #fff;
}

.slide-one-item .owl-nav .owl-prev {
  left: 20px;
}

.slide-one-item .owl-nav .owl-next {
  right: 20px;
}

.slide-one-item .owl-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 2;
}
.slide-one-item .owl-dots .owl-dot {
  display: inline-block;
}
.slide-one-item .owl-dots .owl-dot > span {
  -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.4);
  margin: 3px;
}
.slide-one-item .owl-dots .owl-dot.active > span {
  width: 20px;
  background: #fff;
}

.top-bar {
  padding: 0.5rem 0;
}

.block__35630 .icon > span {
  font-size: 3rem;
  color: #ff8b00;
}

.block__35630 h3 {
  color: #000;
  font-size: 1.4rem;
}

.footer-suscribe-form .form-control {
  color: #000;
}
.footer-suscribe-form .form-control:hover,
.footer-suscribe-form .form-control:active,
.footer-suscribe-form .form-control:focus {
  color: #000 !important;
}

.footer-suscribe-form .btn {
  background: #7a5e86;
  color: #fff;
  border-color: #7a5e86;
}

.pricing {
  background: #fff;
  padding: 30px;
}
.pricing .price > span {
  color: #cccccc;
}
.pricing .price > span > span {
  font-size: 3rem;
  color: #ff8b00;
}
.pricing ul li {
  margin-bottom: 20px;
}

/*PRELOADING------------ */
#overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7100;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader {
  z-index: 7700;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

header div a,
footer div a {
  text-decoration: none;
}

@media (max-width: 991.98px) {
  .slide-one-item .owl-nav {
    display: none;
  }
}

.slide-one-item .owl-nav .owl-prev,
.slide-one-item .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.4);
}
.slide-one-item .owl-nav .owl-prev:hover,
.slide-one-item .owl-nav .owl-next:hover {
  color: #fff;
}

.slide-one-item .owl-nav .owl-prev {
  left: 20px;
}

.slide-one-item .owl-nav .owl-next {
  right: 20px;
}

.slide-one-item .owl-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 2;
}
.slide-one-item .owl-dots .owl-dot {
  display: inline-block;
}
.slide-one-item .owl-dots .owl-dot > span {
  -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.4);
  margin: 3px;
}
.slide-one-item .owl-dots .owl-dot.active > span {
  width: 20px;
  background: #fff;
}

header .sticky {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 100;
}
@media (min-width: 768px) {
  header .sticky {
    width: 100%;
    position: fixed;
    z-index: 100;
  }
}
.nav-tabs .nav-item .nav-link {
  color: black;
}
.nav-tabs .nav-item .nav-link.active {
  background-color: #d97600;
  color: white;
  border-color: #d97600;
}
.nav-tabs .nav-item .nav-link:hover {
  background-color: #d97600;
  color: white;
  border-color: #d97600;
}

.navbar-nav .nav-level-1 {
  border-top: 2px solid #d97600;
}

.navbar-nav .nav-item .nav-link.is-active {
  color: #d97600;
}
header .navbar-nav .nav-item .nav-link {
  font-weight: 600;
}
footer .navbar-nav .nav-level-1 .nav-item a {
  color: black;
}

header ul.menu-level-0 {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul.menu-level-0 {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.menu-level-0 li {
  position: relative;
  display: inline-block;
}

ul.menu-level-0 li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

footer ul.menu-level-0 li a {
  color: rgba(255, 255, 255, 0.5);
}
footer ul.menu-level-1 li a {
  color: black;
}
ul.menu-level-0 .active {
  color: red;
}

ul.menu-level-1 {
  height: auto;
  border-top: 3px solid #ff8b00;
  padding-left: 0;
  width: 150px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
footer ul.menu-level-1 {
  position: relative;
}

ul.menu-level-1 li {
  width: 100%;
}

ul.menu-level-1 li a {
  padding: 10px 20px;
  color: #333;
}

ul.menu-level-0 li:hover > ul.menu-level-1 {
  display: block;
}

ul.menu-level-2 {
  border-top: 3px solid #ff8b00;
  width: 150px;
  padding-left: 0;
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul.menu-level-2 li {
  width: 100%;
}

ul.menu-level-2 li a {
  padding: 10px 20px;
  color: #333;
}

ul.menu-level-1 li:hover > ul.menu-level-2 {
  display: block;
}

ul.menu-level-2 {
  display: none;
}

main {
  padding-top: 100px;
  padding-bottom: 50px;
}

ul.menu-level-0 li a {
  text-transform: uppercase;
}
@media (max-width: 768px) {
  header .sticky {
    top: 0;
  }
}
.form-search {
  height: 40px;
}



footer .row .menu-footer ul {
  padding-left: 0;
}

.navbar-toggler {
  width: 40px;
  height: 40px;

  button &-icon {
    width: 0.8em;
  }
}

header .menu-item-0.has-child:hover > a:after {
  transform: rotate(180deg);
  top: 15px;
}

.menu-item-0.has-child > a:after {
  content: "\25BC";
  position: fixed;
  position: absolute;

  right: 2px;
  top: 24px;
  font-size: 13px;

  margin-left: 5px;
  color: #ff8b00;
  transform: translateY(-50%);
}

footer .menu-item-0.has-child > a:after {
  left: 138px;
}
footer ul li a:hover {
  color: white;
}
footer .menu-item-1 a:hover {
  color: black;
}
ul .menu-item-1 a:hover {
  background-color: #e3e3e3;
}
.block-page-title-block h1 {
  font-weight: 600;
  font-size: 25px;
  color: #b36100;
}
footer .navbar-nav .nav-link:hover {
  color: white;
}
@media (max-width: 768px) {
  ul.menu-level-0 li:hover > ul.menu-level-1 {
    display: block;
    position: relative;
  }
  ul.menu-level-1 li:hover > ul.menu-level-2 {
    display: block;
    left: -100%;
  }
  header ul.menu-level-0 li a {
    color: black !important;
  }
}
.navbar .navbar-toggler {
  background-color: white;
}

.site-logo img {
  width: 62px;
}

.site-title {
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-new-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 4%;
}

ul {
  list-style: none;
}

.site-footer h2 {
  font-size: 1.2rem;
}

header ul li a {
  padding: 10px 20px;
}
footer ul li a {
  padding: 10px 0px;
}

.navbar-toggler {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  header ul.menu-level-0 {
    display: none;
  }

  header ul.menu-level-0.active {
    display: flex;
    top: 55px;
  }

  .navbar-toggler {
    display: block;
    position: relative;
    right: -15%;
    border: 1px solid black;
  }
}

header .menu-level-0 > .menu-item-0:nth-last-child(1):hover > .menu-level-1 li:hover > .menu-level-2,
header .menu-level-0 > .menu-item-0:nth-last-child(2):hover > .menu-level-1 li:hover > .menu-level-2 {
  display: block;
  left: -100%;
}

footer .button.js-form-submit {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.menu-first ul {
  padding-left: 0;
}

.menu-first ul li {
  padding: 10px 0;
}

main {
  & .button--primary {
    color: #fff;
    background-color: #ff8b00;
    border-color: #ff8b00;
  }

  & .btn-primary,
  & .btn-secondary {
    color: #ffffff;
    box-shadow: inset 0 0 0 50px transparent;
    background-color: #ff8b00;

    border: 1px solid #ff8b00;
  }
  & .btn-primary,
  & .btn-secondary {
    margin-top: 10px;
  }
  & .button.js-form-submit {
    margin-top: 10px;
  }
  & ul.primary-tabs {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;

    & li {
      display: inline-block;
      margin-right: 10px;

      &:hover a {
        background-color: #ff8b00;
        color: white;
      }

      & a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: #333;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      & a.is-active {
        background-color: #ff8b00;
        color: #fff;
      }

      & .visually-hidden {
        position: absolute !important;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden;
        white-space: nowrap !important;
      }
    }
  }
}
.button.js-form-submit {
  color: #ffffff;
  box-shadow: inset 0 0 0 50px transparent;
  background-color: #ff8b00;

  border: 1px solid #ff8b00;
}

ol li {
  list-style: none;
}

.pager {
  margin: 20px 0;
  padding: 0;
  list-style: none;
  text-align: center;

  &__items {
    display: inline-block;
    padding: 0;
  }

  &__item {
    display: inline-block;
    margin: 0 5px;

    & a {
      padding: 5px 10px;
      text-decoration: none;
      color: #333;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    & a:hover {
      background-color: #ff8b00;
      color: #fff;
      border-color: #ff8b00;
    }

    &.is-active a {
      background-color: #ff8b00;
      color: #fff;
      border-color: #ff8b00;
    }
  }
}


