{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% if page.header or page.nav_main %}
  <header>
    <div class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col-12">
            {% if email_address %}
              <a href="#" class="text-white">
                <span class="mr-2 text-white icon-envelope-open-o"></span>
                <span class="d-none d-md-inline-block">{{email_address}}</span>
              </a>
            {% endif %}
            <span class="mx-md-2 d-inline-block"></span>
            {% if phone_number %}
              <a href="#" class="text-white">
                <span class="mr-2 text-white icon-phone"></span>
                <span class="d-none d-md-inline-block">{{phone_number}}</span>
              </a>
            {% endif %}
            <div class="float-right">
              {% if twitter_url %}
                <a href="{{twitter_url}}" class="text-white">
                  <i class="mr-2 text-white fa-brands fa-x-twitter"></i>
                  <span class="d-none d-md-inline-block">Twitter</span>
                </a>
              {% endif %}
              <span class="mx-md-2 d-inline-block"></span>
              {% if instagram_url %}
                <a href="{{instagram_url}}" class="text-white">
                  <span class="mr-2 text-white icon-instagram"></span>
                  <span class="d-none d-md-inline-block">Instagram</span>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-wrap">
      {% if is_front %}
        <nav class=" navbar nav-new front">
        {% else %}
          <nav class=" navbar nav-new not-front">
          {% endif %}
          <div class="nav-new-container">
            {{ page.header }}
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            {{ page.nav_main }}
          </div>
        </nav>

        {% if is_front %}
          <div class="owl-carousel slide-one-item">
            {% for slider_index in 0..slider_titles|length-1 %}
              <div class="site-section-cover overlay img-bg-section" style="background-image: url('{{ slider_images[slider_index] }}'); ">
                <div class="container">
                  <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-12 col-lg-7">
                      <h1 data-aos="fade-up" data-aos-delay="">{{ slider_titles[slider_index] }}</h1>
                      <p class="mb-5" data-aos="fade-up" data-aos-delay="100">{{ slider_descriptions[slider_index] }}</p>
                      <p data-aos="fade-up" data-aos-delay="200">
                        <a href="{{ slider_button_urls[slider_index] }}" class="btn btn-outline-white border-w-2 btn-md">{{ slider_button_texts[slider_index] }}</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </header>
  {% endif %}

  <main role="main">
    {{ page.breadcrumb }}
    <div class="container">
      <div class="order-1 order-lg-2 {{ content_classes }}">
        {{ page.content }}
      </div>
    </div>
  </main>

  {% if page.footer_first or page.footer_second or page.footer_third or footer_copyright  %}
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-6 menu-first">
                {{page.footer_first}}
              </div>
              <div class="col-md-5 ml-auto menu-footer">
                {{page.footer_second}}
              </div>
            </div>
          </div>
          <div class="col-md-4 ml-auto">
            <div class="mb-5">
              {{page.footer_third}}
            </div>
            {% if show_social_icon == 1 %}
              <h2 class="footer-heading mb-4">Follow Us</h2>
              {% if facebook_url %}
                <a href="{{facebook_url}}" class="smoothscroll pl-0 pr-3">
                  <span class="icon-facebook"></span>
                </a>
              {% endif %}
              {% if twitter_url %}
                <a href="{{twitter_url}}" class="pl-3 pr-3">
                  <i class=" fa-brands fa-x-twitter"></i>
                </a>
              {% endif %}
              {% if instagram_url %}
                <a href="{{instagram_url}}" class="pl-3 pr-3">
                  <span class="icon-instagram"></span>
                </a>
              {% endif %}
              {% if linkedin_url %}
                <a href="{{linkedin_url}}" class="pl-3 pr-3">
                  <span class="icon-linkedin"></span>
                </a>
              {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="row pt-3 mt-1 text-center">
          <div class="col-md-12">
            <div class="border-top pt-4">
              <p class="copyright">
                {{footer_copyright}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  {% endif %}
  <div id="preloader">
    <div class="pulse"></div>
  </div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center {{back_to_top}}">
    <i class="fa-solid fa-arrow-up"></i>
  </a>
